@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing:border-box;

}
:root{
    --primary-text-color:#183b56;
    --secondary-text-color:#577592;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;
    --padding-inline-section:20px;
}
body{
    font-family:"Poppins",sans-serif;
    color:var(--primary-text-color);
}
.small-bold-text{
    font-size:1.5rem;
    font-weight: 700;
    
}
.flex{
    display:flex;
    align-items:center;
}

ul{
    list-style: none;
}
h1{
    color:seagreen !important;
    font-size:3rem;
}
h2{
    font-size:2rem;
}
h3{
    font: size 1.5em;
}
h4{
    padding-bottom:5px;
    font-size:medium;
}
p{
    font-family: 'Roboto',sans-serif;
    font-size:1.25rem;
    color:var(--secondary-text-color);
    line-height: 1.8rem;;
}
a{
    text-decoration:none;
    display:inline-block;

}
.container{
    max-width:11000px;
    margin-inline: auto;
    padding-inline:var(--padding-inline-section) ;

}
.top-banner{
    background-color:black;

}
.banner-text{
    text-align: center;
    color:white;
    padding:15px 30px;
}

/*navbar*/
.navlinks ul{
    justify-content: end;
    gap:40px;
}

.navlinks{
    position:sticky;
    margin:10px;
    flex-basis: 1349px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    align-items: center;
}
.hover-links{
    color:var(--primary-text-color);
    transition:0.3s ease ease-in-out;
}
.hover-links:hover{
    color:var(--accent-color);

}
.primary-button{
    font-size:medium;
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700;
    color:white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition:0.2s ease-out;
}
.primary-button:hover{
    background-color: var(--accent-color-dark);
}
.secondary-button{
    border:0.5px solid var(--primary-text-color);
    border-radius: 6px;
    transition:0.2s ease-out;
    font-weight:700;
    padding:12px 24px;
    color:var(--primary-text-color) !important;

}
.secondary-button:hover{
    background-color: grey;
}
/*home page*/
.Hero-section{
    background-image:url(image-1.jpg);
    height:75vh;
    width:100%;
    background-position: top 25% right 0;
    justify-content:center;
    display:flex;
    flex-direction: column;
    
}
.hero-text{
    color:white;   
}
.Hero-section button{
    background-image:url(image-2.jpg);
    background-color:transparent;
    color:white;
    border:0;
    padding:14px 40px 14px 45px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight:700;
}
.features{
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
}
.fe-box{
    padding:7px;
    width: 315px;
    height: 215px;
    box-shadow:20px 20px 34px rgba(0,0,0,0.03);
    border:1px solid #cce7d0;
    border-radius:4px;
    margin:35px;
}
.fe-box:hover{
    box-shadow: 10px 10px 34px rgba(70, 62, 221, 0.1) ;
} 
.product1{
    text-align: center;
    margin-top: 35px;
}
.pro-container{
    display:flex;
    gap: 5px;
    padding-top:20px;
    flex-wrap: wrap;
}
.pro{
    margin-left: 19px;
    margin-bottom:20px ;
    height: 25%;
    width:23%;
    min-width: 250px;
    padding:10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor:pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
}
.pro img{
    width: 100%;
    border-radius:20px;
}
.pro .des{
    text-align: start;
    padding:10px;
}    
.pro .des span{
    color:#606063;
    font-size:12px;
}
.pro .des span h5{
    padding-top:7px;
    color:#1a1a1a;
    font-size:14px;
}  
.pro .des i{
    font-size:12px;
    color:rgb(243,181,25);
}  
.pro .des h4{
    padding-top:7px;
    font-size:15px;
    font-weight:700;
    color:#088178;
     
} 
.banner{
    display:flex;
    margin-top: 35px;
    font-family: ;
    text-align:center;
    flex-direction: column;
    justify-content:center;
    background-image:url(banner-1.jpg);
    width:100%;
    background-position: center;
    height:35vh;
    background-size:cover;
}
.banner h4{
    color:#fff;
    font-size:16px;

}
.banner h2{
    color:#fff;
    font-size:30px;
    padding:10px 0px;
}
.banner h2 span{
    color:#ef3636;
} 
button.normal{
    margin-top:10px;
    margin-left :90vh;
    font-size:14px;
    font-weight:600;
    padding:15px 30px;
    color:#000;
    background-color:#fff;
    border-radius:4px;
    cursor:pointer;
    border:none;
    outline:none;
    transition:0.2s;
    width:fit-content;
}
.banner button:hover{
    background-color:#088178;
    color:white;
}
.New-Arrivals{
    margin-top:55px;
    text-align:center;
    align-items: center;
}

.New-Arrivals h2{
    margin-bottom: 5px;
    font-weight:700;
    font-size:40px;
}
.New-Arrivals p{
    font-weight:400;
    font-size:20px;
}
.sm-banner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.banner-box{
    padding: 25px;
    margin-left: 10px;
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    text-align:center;
    background-image:url(banner-2.jpg);
    width:100vh;
    height: 50vh;
    background-size: cover;
    background-position: center;
}
.banner-box button{
    background-color:transparent;
    color:#fff;
    font-size:14px;
    font-weight:800;
    padding:15px 30px;
    border-radius:4px;
    cursor:pointer;
    border:#fff solid 1px;
    width:fit-content
}
.banner-box h4{
    color:#fff;
    font-size:20px;
    font-weight:300;
}
.banner-box h2{
    padding-bottom: 7px;
    color:#fff;
    font-size:28px;
    font-weight:800;
}
.banner-box span{

    padding-bottom: 15px;
    font-weight:500;
}
.banner-box button:hover{
    background-color: #088178;
    color:#fff;
    transition:0.2s ease-out;
    border:#fff;
}
.second{
    background-image: url(images.jpg) !important;
}


/*MEN-SECTION*/
.men-banner{
    height:70vh;
    width:100%;
    display: flex;
    background-image: url(clear.jpg);
    background-size:cover;
    background-position: top 15% right 0;
    justify-content:first baseline;
    flex-direction: row;
    flex-wrap: wrap;
}
.men-pro{
    display: flex;
    flex-wrap: wrap;
}
/*single-product*/
.single-pro-img{
    width:55dvh;    
}
#main-img {
    margin-top: 5px;
    margin-left:62px;
    width:53dvh;
    height:60dvh;
    align-items: flex-start;
    cursor: pointer;   
}
.small-img{
    /*margin-left: 20.5px;*/
    margin-top: 10px;
    width: 150px;
    height: 150px;;
    display:flex;
    gap:5px;
    cursor: pointer;
    align-items:start;
}
#prodetails{
    display:flex; 
    justify-content: space-between; 
    gap: 25px; 
}
.single-pro-details{
    margin-top:15px ;
    margin-left: 65px;    
}
.single-pro-details h2{
    margin-top: 10px;
    margin-bottom: 10px;
    weight:700;
    font-size:25px;
    font-style: bold;
}
.single-pro-details h3{
    margin-top: 15px;
    margin-bottom: 10px;
    weight:800;
    font-size: 35px;   
}
#prodetails .single-pro-details{
    width:50%;
    padding-top:30px;
    color:#1a1a1a
}
.single-pro-details span{
    text-indent: 1px;
    font-family:'Times New Roman', Times, serif;
    padding:10px;
    font-size: larger;
    margin-top: 15px;
    line-height: 25px;
    color:#183b56;
}
#prodetails .single-pro-details select{
    display:block;
    padding:5px 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 5px;
    background-color: #fff;
    border:1px solid black;
    cursor:pointer; 
}
#prodetails .single-pro-details input{
    margin-bottom: 10px;
    width: 45px;
    height:45px;
    padding:5px;
    margin-left:10px;
    cursor:pointer; 
}
#prodetails .single-pro-details button{
    background-color:#088178;
    height: 35px;
    width:115px;
    padding:5px 10px;
    border:#fff 1px solid;
    font-size: 17px;
    color:#fff;
    text-align: center;
    margin-left:5px;
    cursor:pointer; 
}
footer{
    height:30%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #000;
    margin-top:5px;
    margin-bottom:25px;
}
footer .col:a{
    color:#fff;
}
footer .col{
    display: flex;
    flex-direction: column;
    gap:2px;
    width:20%;
    border:1px solid black;
    margin:45px;
    padding:25px 5px  25px;
    text-align: center;
    align-items:center; 
    margin-bottom:20px;
    gap:6px;
    color:#fff;
}
footer .pay {
    margin:25px 65px;
    align-items:center;   
}
footer .pay p{
    color:#fff;
}
footer .copyright p{
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    text-align: center;
    margin-top:25px;
    color:grey;
}
.col a:link{
    color:#2294ed;
}
.col a:visited{
    color:#606063;
}

/*WOMEN SECTION */
.women-banner{
    height:70vh;
    width:100%;
    background-image: url(women-banner.jpg);
    background-size:cover;
}








